.region-filter {
  width: 275px;
  height: 45px;
  display: flex;
  align-items: center;
}

.region-filter select,
.filter-selected img {
  margin-right: 15px;
}

.region-filter select {
  font-size: 14px;
}

.region-filter button {
  font-size: 14px;
  width: 40px;
  height: 22px;
  background-color: white;
  border-radius: 3px;
}

.filter-selected {
  position: relative;
  background-color: #A2313A;
  padding: 0 15px;
  color: #ffffff;
}

.filter-selected img {
  width: 18px;
}

.filter-compare {
  position: absolute;
  top: 45px;
  right: 0;
  padding: 0 15px;
  background-color: #DDE1EC;
}

.filter-compare .toggle {
  margin-right: 10px;
}